<!DOCTYPE html>
<html>
  <head>
     <title>Home</title>
     
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="public/style.css">
      <style>
         img{
            padding: 0px 10px 10px;
            
            width: 100%;
            border-radius: 25px;
           

         }
      </style>
  </head>
  <body>
    
     <%- include('header'); %> 
     <div class="container-fluid" style="padding: 0px 50px 0px;">
        <img src="https://images.unsplash.com/photo-1468971050039-be99497410af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1190&q=80" alt="">
        <% for(var i=0;i<title.length;i++){ %> 
           <a href="/<%=title[i]%> "><h3><%= title[i] %> </h3></a>
           <p><%= content[i] %> </p>
            
        <%}%> 
        
        
     </div>
  </body>
</html>
<%- include('footer'); %>